{% extends 'detail/base_detail.html' %}
{% load static %}
{% block add_css_detail %}

{% endblock %}

{% block detail_list_image_casorel %}
    <li>
        <img src="http://sgc.qlhd.vn/static/img/200714/20200714_145358_VBPO_694_1_66_1_01_false_0094.jpg" alt="Picture 1">
    </li>
    <li>
        <img src="http://sgc.qlhd.vn/static/img/200714/20200714_114408_1_4_6_1_1_01_false_0002.jpg" alt="Picture 2">
    </li>
    <li>
        <img src="http://sgc.qlhd.vn/static/img/200714/20200714_114408_1_4_6_1_1_01_false_0002.jpg" alt="Picture 2">
    </li>
    <li>
        <img src="http://sgc.qlhd.vn/static/img/200714/20200714_114408_1_4_6_1_1_01_false_0002.jpg" alt="Picture 2">
    </li>
{% endblock %}

{% block detail_list_btn_menu %}
    <div class="d-flex justify-content-end list-btn-menu mb-2">
        <button class="btn btn-outline-info" title="Xem file PDF Hóa đơm"><i class="far fa-file-pdf"></i></button>
        <button class="btn btn-outline-warning" title="Tải file XML/INV"><i class="fas fa-file-invoice"></i></button>
        <button class="btn btn-outline-success" title="Xem file RECIEVER"><i class="fas fa-file-upload"></i></button>
    </div>
{% endblock %}


{% block detail_box_function_top %}
    <div class="row box-function-top border-success">
        <div class="col-md-4">
            Trạng thái HĐ: <span class="font-weight-bold">O</span>
        </div>
        <div class="col-md-8">
            <button class="btn btn-info">Chấp nhận /W <i class="fas fa-check"></i></button>
            <button class="btn btn-danger">lập biên bản /S <i class="fas fa-ban"></i></button>
        </div>
    </div>
    <div class="row box-function-top border-success">
        <div class="col-md-4">
            Trạng thái HĐ: <span class="font-weight-bold">S</span>
        </div>
        <div class="col-md-4">
            Trạng thái BB: <span class="font-weight-bold">P</span>
        </div>
        <a type="button" class="btn btn-info" href="#">Xem biên bản <i class="fas fa-hand-point-right"></i></a>
    </div>
{% endblock %}

{% block add_js_detail %}

{% endblock %}