{% extends 'admin/base_admin.html' %}

{% load static %}
{% load pagination %}
{% load crispy_forms_tags %}
{% block add_css %}
    <style>
        .box_search{
            padding: 10px;
            margin: 10px;
            border: 1px solid #1c7430;
        }
        .i-small-require {
            font-size: 8px !important;
            color: red !important;
        }
    </style>
{% endblock %}

{% block admin_function %}
    <a class="btn btn-outline-info" href="{% url 'admin_type_product_add' %}">Thêm loại ngành hàng mới <i class="fas fa-function    "></i></a>
{% endblock %}

{% block active_type_product %}
    <a href="{% url 'admin_type_product' %}" class="list-group-item list-group-item-action bg-light nav-link-active"><i class="fas fa-city    "></i> Quản lý các loại ngành hàng</a>
{% endblock %}


{% block admin_content %}
    <div class="table-content">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Chỉnh sửa loại ngành hàng {{book.id}}</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
{#                    {{form.as_p}}#}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_add_permission" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title">Thêm phân quyền chức năng</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="alert-danger div-message-error-add-per" role="alert"></div>
                        <form id="form_add_per">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for=""></label>
                              <input type="text" name="name-per" id="" class="form-control" placeholder="" aria-describedby="helpId">
                              <input type="hidden" name="message" value="add"> 
                              <small id="helpId" class="text-muted">Tên phân quyền chức năng mới không được trùng lặp!!</small>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-add-per">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal edit -->
    <div class="modal fade" id="modal_edit_permission" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                            <h5 class="modal-title">Sửa phân quyền chức năng</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="alert-danger div-message-error-edit-per" role="alert"></div>
                        <form id="form_edit_per">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for=""></label>
                              <input type="text" name="name-per-edit" id="" class="form-control" placeholder="" aria-describedby="helpId">
                              <input type="hidden" name="message" value="edit"> 
                              <input type="hidden" name="id_per" value=""> 
                              <small id="helpId" class="text-muted">Tên phân quyền chức năng mới không được trùng lặp!!</small>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary btn-submit-edit-per">Lưu</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_js %}
    <script>
        var thisPer = ''
        $('.btn-add-per').on('click', function(){
            var form = new FormData(document.getElementById('form_add_per'))
            $.ajax({
                url : '{% url 'admin_permission'  %}' ,
                type : 'POST',
                data : form,
                processData: false,
                contentType: false,
                success : function (data) {
                    if (data.message_error){
                        $('.div-message-error-add-per').html(data.message_error)
                    }
                    else {
                        $('#modal_add_permission').modal('hide')
                        $('table tbody').append('<tr>' +
                            '<td scope="col"> '+(parseInt($('table tr:last td:first').text())+1)+'</td>' +
                            '<td scope="col">'+data.name_per+'</td>' +
                            '<td scope="col" class="text-center"> ' +
                                '<a type="button" class="btn-edit-per btn btn-outline-info" title="Sửa thông tin phân quyền"  data-placement="top" data-id_per = "'+data.new_per_id+'" data-name_per_edit = "'+data.name_per+'" ><i class="far fa-edit"></i> </a> ' +
                                '<a type="button" class="btn-delete-per btn btn-outline-info" title="Xóa phân quyền" data-toggle="tooltip" data-placement="top" data-message="reset  " data-id_per = "'+data.new_per_id+'" > <i class="fas fa-recycle"></i> </a> ' +
                            '</td></tr>')
                        Swal.fire({
                            icon: 'success',
                            title: 'Thêm phân quyền chức năng mới thành công!',
                            showConfirmButton: true,
                        })
                    }
                },
                error: function (data) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đã xảy ra lỗi, vui lòng thử lại sau. Xin cám ơn!!',
                    })
                }

            })
        })

        $('table tbody').on('click', '.btn-edit-per', function(){
        })

        $('.btn-submit-edit-per').on('click', function(){
            var formEdit = new FormData(document.getElementById('form_edit_per'))
            $.ajax({
                url : '{% url 'admin_permission'  %}' ,
                type : 'POST',
                data : formEdit,
                processData: false,
                contentType: false,
                success : function (data) {
                    if (data.message_error){
                        $('.div-message-error-edit-per').html(data.message_error)
                    }
                    else {
                        console.log(thisPer.closest('tr').find('td:nth-child(2)').text())
                        console.log(thisPer.data('name_per_edit'))
                        thisPer.closest('tr').find('td:nth-child(2)').text(data.name_per)
                        thisPer.data('name_per_edit',data.name_per)
                        $('#modal_edit_permission').modal('hide')
                        Swal.fire({
                            icon: 'success',
                            title: 'Sửa phân quyền chức năng mới thành công!',
                            showConfirmButton: true,
                        })
                    }
                },
                error: function (data) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Đã xảy ra lỗi, vui lòng thử lại sau. Xin cám ơn!!',
                    })
                }

            })
        })

        $('table tbody').on('click' , '.btn-delete-site', function(){
            thisDeletePer = $(this)
            Swal.fire({
            title: 'Bạn có chắc chắn?',
            text: "Muốn xóa site này và mọi thứ liên quan đến nó!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Có , Tôi muốn!',
            cancelButtonText: 'Hủy'
            }).then((result) => {
                $(this).closest('td').find('.btn-submit-delete').click()
            })
        })

    </script>
{% endblock %}