{% extends 'admin/base_admin.html' %}
{% load static %}
{% load pagination %}
{% block add_css %}
    <style>
        .box_search{
            padding: 10px;
            margin: 10px;
            border: 1px solid #1c7430;
        }
        .i-small-require {
            font-size: 8px !important;
            color: red !important;
        }
    </style>
{% endblock %}

{% block admin_function %}
{#    <button class="btn btn-outline-info" data-toggle="modal" data-target="#modal_add_cus">Thêm Đơn vị mới <i class="fas fa-plus-square"></i></button>#}
    <a class="btn btn-outline-info" href="{% url 'admin_branch' %}"> <i class="fas fa-code-branch    "></i> Xem toàn bộ đơn vị</a>
{% endblock %}

{% block active_branch %}
    <a href="{% url 'admin_branch' %}" class="list-group-item list-group-item-action bg-light nav-link-active"><i class="fas fa-code-branch    "></i> Quản lý
        đơn vị</a>
{% endblock %}

{% block admin_content %}
    <div class="box-filter-admin-user container mt-4">
        <h4>Sửa thông tin đơn vị</h4>
        <form method="post" action="{% url 'admin_branch_edit' id_branch %}" id="form_edit_branch">
            {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-success {% endif %} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">×</button>

                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% csrf_token %}
            <input type="hidden" value="" id="input-diden-id" name="input-diden-id">
            {#                        {{ form_edit_branch.id }}#}
            <div>
                <div class="alert-danger div-message-erro-edit-cus">
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Chọn mô hình
                         <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        {#                                    <input type="text" class="form-control" id="colFormLabel" placeholder="">#}
                        {{ form_edit_branch.site }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Tên đơn vị
                         <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        {#                                    <input type="text" class="form-control" id="colFormLabel" placeholder="">#}
                        {{ form_edit_branch.name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Mã cửa hàng
                         <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        {#                                    <input type="text" class="form-control" id="colFormLabel" placeholder="">#}
                        {{ form_edit_branch.store_number }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Tên công ty
{#                         <span class="text-danger">*</span>#}
                    </label>
                    <div class="col-md-9">
                        {#                                    <input type="text" class="form-control" id="colFormLabel" placeholder="">#}
                        {{ form_edit_branch.company_name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Địa chỉ
{#                         <span class="text-danger">*</span>#}
                    </label>
                    <div class="col-md-9">
                        {#                                    <input type="text" class="form-control" id="colFormLabel" placeholder="">#}
                        {{ form_edit_branch.address }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Mã số thuế
{#                         <span class="text-danger">*</span>#}
                    </label>
                    <div class="col-md-9">
                        {#                                    <input type="text" class="form-control" id="colFormLabel" placeholder="">#}
                        {{ form_edit_branch.tax_number }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Mã GL
{#                         <span class="text-danger">*</span>#}
                    </label>
                    <div class="col-md-9">
                        {{ form_edit_branch.gl_number }}
                        {#                                    <input type="text" class="form-control" id="colFormLabel" placeholder="">#}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Mã SOD
{#                         <span class="text-danger">*</span>#}
                    </label>
                    <div class="col-md-9">
                        {#                                    <input type="text" class="form-control" id="colFormLabel" placeholder="">#}
                        {{ form_edit_branch.sod_number }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Email KTT
{#                         <span class="text-danger">*</span>#}
                    </label>
                    <div class="col-md-9">
                        {#                                    <input type="text" class="form-control" id="colFormLabel" placeholder="">#}
                        {{ form_edit_branch.email_ktt }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Email HDDT
{#                         <span class="text-danger">*</span>#}
                    </label>
                    <div class="col-md-9">
                        {#                                    <input type="text" class="form-control" id="colFormLabel" placeholder="">#}
                        {{ form_edit_branch.email_hddt }}
                    </div>
                </div>
                <div class="temp-ttpp-hiden -none">
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-md-3 col-form-label">Là Trung Tâm Phân Phối
                             <span class="text-danger">*</span>
                        </label>
                        <div class="col-md-9">
                            {{ form_edit_branch.ttpp }}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-md-3 col-form-label">Mô tả
{#                         <span class="text-danger">*</span>#}
                    </label>
                    <div class="col-md-9">
                        {#                                    <textarea class="form-control"></textarea>#}
                        {{ form_edit_branch.description }}
                    </div>
                </div>

            </div>
            <div class=" d-flex justify-content-end">
                    <button type="submit" form="form_edit_branch" class="btn btn-info btn-submit-edit-cus">
                        <i class="fas fa-save  "></i> Lưu</button>
                    <button type="reset"  form="form_edit_branch" class="btn btn-danger ml-2">
                        <i class="fas fa-undo  "></i> Hủy </button>
                </div>
        </form>
    </div>

{% endblock %}

{% block add_js %}
    <script>
        $(document).ready(function () {
            $('#select_branch_filter_admin').selectpicker()
        })

    </script>
{% endblock %}